/* General layout */
.admin-dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f5f7fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.dashboard-content h1 {
  margin-bottom: 1.2rem;
}

@media (max-width: 768px) {
  .admin-dashboard {
    flex-direction: column;
  }

  .dashboard-content {
    padding: 1.2rem;
  }
}
