footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: fit-content;
}

.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-links-container a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  footer {
    height: fit-content;
  }
  
  .footer-links-container {
    flex-direction: column;
  }
}
