@import "../../style.css";

footer {
  background-color: var(--off-white);
  color: var(--light-grey);
  padding: 1rem;
  text-align: center;
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links li a {
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.copyright {
  font-size: 0.75em;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links li {
    margin: 8px 0;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 15px 10px;
    font-size: 0.75em;
  }

  .copyright {
    font-size: 0.75em;
  }
}
